<section class="signup-form">

    <form #myForm="ngForm" fxLayout="column" fxLayoutAlign="center" (ngSubmit)="Search(myForm.value)">
      <h2 class="link">UID Parent & Child Finder</h2>
  
      <mat-form-field>
        <input type="text" matInput placeholder="Enter UID Here" ngModel name="UniqueIdentifierId" required>
        <mat-error>UID invalid</mat-error>
      </mat-form-field>
  
      <button type="submit" mat-raised-button color="primary">Find</button>
  
      <button type="button" mat-button >Parent: {{this.parent}}</button>
  
  
      <button type="button" mat-button [matMenuTriggerFor]="ChildMenu">Children {{ length }}</button> 
      <mat-menu #ChildMenu="matMenu">     
          <div *ngFor="let d of this.childList">
                  <button mat-menu-item>{{d}}</button>
            </div>
      </mat-menu>
  
    </form>
  </section>
  