.signup-form {
    display : flex;
    width : 400px;
    height : 500px;
    justify-content : center;
    align-items : center;
    margin-left : 550px;
    margin-top:  30px;
    margin-top : 80px;
    box-shadow: 0 0 25px black;
}

mat-form-field{
    width:300px;
    justify-content: center;
    align-content: center;
}
.link{
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 25px;
}
.errors{
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    color: red;
}