<mat-toolbar color="primary">
  <div>
          <button mat-icon-button color="blue" (click)="onToggle()"> 
                  <mat-icon color="black" >menu</mat-icon>
          </button>
          
  </div>
  
  <div>
      <h3><a routerLink="/"><img src="http://pngimg.com/uploads/bitcoin/bitcoin_PNG47.png"/></a></h3>
  </div>
  <div fxFlex></div>
  <div fxLayoutGap="5px" class="links" fxHide.xs>
      <a routerLink="/signup">Signup</a>
      <a routerLink="/training">Training</a>
      <a routerLink="/login">Login</a>
  </div>
</mat-toolbar>
