<!-- <ng-template *ngIf="formSubmit; then alreadySubmitted else theForm"></ng-template>
<div class="message" #alreadySubmitted>
    Message here
</div> -->
<section class="card" fxLayout="column" fxLayoutAlign="center center">
        <div class="link"><h1 >UID Location</h1></div>
<form #location="ngForm" (ngSubmit)="onSubmit(location.value)" fxLayoutGap="50px" #theForm>
   
   
     <mat-form-field class="centerinput">
        <input type="text" matInput placeholder="Your Requested UID here"  ngModel name="UniqueIdentifierId" required>
     </mat-form-field>
    <button  type="submit" mat-raised-button color="primary">Submit</button>
</form>
<br>
<div *ngIf="error; else elseBlock" class="errors">
    <p>{{error}}</p>
</div>
<ng-template #elseBlock>
<div *ngIf="location_uid" class="written">
 Date: {{ location_uid.date }}<br>
Facility ID: {{ location_uid.id }}<br>
Country: {{ location_uid.country }} <span class="flag-icon flag-icon-{{ location_uid.country | lowercase}}"></span><br>
Facility Type: {{ location_uid.FacilityType }}<br>
Facility Address: {{ location_uid.Address }}
</div></ng-template>

</section>

