
.card{
    display: flex;
    width: 850px;
    height: 500px;
    border-radius: 15px;
    margin-left: 350px;
    margin-top: 80px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
mat-form-field{
    width: 350px;
    justify-content: center;
       align-items: center; 
      grid-gap: 10px 20px; 
    /*   margin-right: 350px; */
    padding-left: 150px;
}
button{
    display: flex;
    flex-direction: column;
    margin-left: 182px;
    
}
placeholder{
    text-align: center;
}
 .leftinput{
    padding-left: 25px;

} 
.centerinput{
  /*   display: flex;
    justify-content: center;
       align-items: center;  */
       margin-left: -90px;
    
}
.written{
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
}
.errors{
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    color: red;
}
.link{
    color: dark;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 25px;
}