<section class="signup-form" >
  
        <form #credentiels="ngForm" fxLayout="column" fxLayoutAlign="center center"  (ngSubmit)="Generate(credentiels.value)">
            <h2>Access Token Generator</h2>
          <mat-form-field>
          <input type="text" matInput placeholder="Your Username Here" ngModel name="UserName" required>
        <mat-error>Username is invalid</mat-error>  
        </mat-form-field>
          <mat-form-field hintLabel="should be atleast 6 characters">
            <input type="password" matInput placeholder="Your Password Here" ngModel name="Password" required minlength="6">
            <mat-error>Password is invalid</mat-error>  
            </mat-form-field>
            
            <button type="submit" mat-raised-button color="warn">Generate !</button>
            <mat-form-field>
              <textarea matInput placeholder="Your Generated Access Token" [value]="onValue()" readonly></textarea>
            </mat-form-field>
        </form>
      
      </section>
      